apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
  namespace: clickhouse
data:
  ssl.xml: |
    <clickhouse>
        <openSSL>
                <server>
                    <certificateFile>/etc/clickhouse-server/certs/server.crt</certificateFile>
                    <privateKeyFile>/etc/clickhouse-server/certs/server.key</privateKeyFile>
                    <verificationMode>relaxed</verificationMode>
                    <loadDefaultCAFile>true</loadDefaultCAFile>
                    <cacheSessions>true</cacheSessions>
                    <disableProtocols>sslv2,sslv3</disableProtocols>
                    <preferServerCiphers>true</preferServerCiphers>
                </server>
                <client>
                    <loadDefaultCAFile>true</loadDefaultCAFile>
                    <caConfig>/etc/clickhouse-server/certs/ca.crt</caConfig>
                    <cacheSessions>true</cacheSessions>
                    <disableProtocols>sslv2,sslv3</disableProtocols>
                    <preferServerCiphers>true</preferServerCiphers>
                </client>
            </openSSL>
        <https_port>8443</https_port>
        <tcp_port_secure>9440</tcp_port_secure>
        <interserver_https_port>9010</interserver_https_port>
        <http_port>8123</http_port>
        <tcp_port>9000</tcp_port>
        <interserver_http_port>9009</interserver_http_port>
    </clickhouse>
  
  storage.xml: |
    <clickhouse>
        <storage_configuration>
            <disks>
                <default>
                    <keep_free_space_bytes>10737418240</keep_free_space_bytes>
                </default>
            </disks>
        </storage_configuration>
        
        <merge_tree>
            <max_suspicious_broken_parts>5</max_suspicious_broken_parts>
            <parts_to_throw_insert>3000</parts_to_throw_insert>
            <parts_to_delay_insert>1000</parts_to_delay_insert>
        </merge_tree>
    </clickhouse>
  
  logging.xml: |
    <clickhouse>
        <logger>
            <level>information</level>
            <log>/var/log/clickhouse-server/clickhouse-server.log</log>
            <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
            <size>100M</size>
            <count>10</count>
        </logger>
        
        <query_log>
            <database>system</database>
            <table>query_log</table>
            <partition_by>toYYYYMM(event_date)</partition_by>
            <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        </query_log>
        
        <query_thread_log>
            <database>system</database>
            <table>query_thread_log</table>
            <partition_by>toYYYYMM(event_date)</partition_by>
            <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        </query_thread_log>
        
        <metric_log>
            <database>system</database>
            <table>metric_log</table>
            <flush_interval_milliseconds>7500</flush_interval_milliseconds>
            <collect_interval_milliseconds>1000</collect_interval_milliseconds>
        </metric_log>
    </clickhouse>
  
  network.xml: |
    <clickhouse>
        <listen_host>0.0.0.0</listen_host>
        <max_connections>4096</max_connections>
        <keep_alive_timeout>3</keep_alive_timeout>
        <tcp_keep_alive_timeout>300</tcp_keep_alive_timeout>
        <max_concurrent_queries>100</max_concurrent_queries>
    </clickhouse>
  

  default-user.xml: |
        <clickhouse>
          <users>
            <default>
              <password_sha256_hex from_env="DEFAULT_PASSWORD_HASH"/>
              <networks>
                <ip>::/0</ip>
              </networks>
              <profile>default</profile>
              <access_management>1</access_management>
            </default>
          </users>
        </clickhouse>